.container1{
        position: relative;
        text-align: center;
        color:#BEBEBE;
}


.container1 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}

.container1 img{
    height: 700px;
    width: 100%;
}

.clubPage{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.card-body{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top{
    width: auto;
    height: 300px;
}